@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.custom-justify {
		text-align: justify;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		word-spacing: -0.02em;
	}
}

@layer base {
	body {
		@apply bg-stone-950;
	}
}
